@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

:root {
  --dark-background: #121212;
  --basic-text: #b3b3b3;
  --header-color: #b0cdf1;
  --teal-highlight: #3dffe0;
  /* 3DFFE0 */
}

body {
  margin: 0;
  background-color: var(--dark-background);
  color: var(--basic-text);
  font-size: 16.5px;
}

.container {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

h1 {
  font-size: 2.5em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

h2 {
  font-size: 1.7em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

h3 {
  font-size: 1em;
  margin-top: 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

p {
  font-size: 0.9em;
}

span {
  font-size: 0.6 !important;
}

ul {
  padding: 0; /* Removes default padding */
  margin: 0; /* Adjusts margin for customization */
}

.skills > li {
  color: var(--teal-highlight);
  padding: 0px 4px;
  border-radius: 0px;
  font-size: 12px;
  width: max-content;
  display: inline-block;
  border: 2px solid #009571;
  background-color: transparent;
}

ul li:not(:last-child) {
  margin-right: 10px;
}

.main-title {
  color: var(--header-color);
  padding-bottom: 10px;
  margin: 0;
}

.subtitle > p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.flexed {
  display: flex;
}

.center {
  justify-content: center;
}

.social {
  padding-bottom: 15px;
}

.social > div {
  padding-right: 10px;
}

.teal {
  color: var(--teal-highlight);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.headshot {
  height: 180px;
  padding-bottom: 1em;
}
.tiny-head {
  height: 120px;
  border-radius: 30px;
  padding-bottom: 1em;
}

.light-effect {
  pointer-events: none;
  position: fixed;
  border-radius: 40%; /* Keeps it less of a perfect circle */
  width: 800px; /* Increased size */
  height: 800px; /* Increased size */
  margin: -400px 0 0 -400px; /* Adjusted for new size */
  background: radial-gradient(
    circle,
    rgba(0, 31, 63, 0.5) 0%,
    rgba(0, 15, 31, 0.3) 50%,
    rgba(0, 7, 15, 0.1) 100%
  );
  /* Brighter gradient */
  mix-blend-mode: screen;
  transition: background 0.2s, transform 0.2s;
}

.project-container {
  padding: 1em;
}

/* Container for the flip effect and perspective */
.flip-card {
    perspective: 1000px; /* Adjust as necessary for the flip effect depth */
    margin-bottom: 4em;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust based on your content */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional: Adds some shadow for better effect */
  }
  
  /* The front and back side of the flip card */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back side when facing away */
  }
  
  /* Style for the front part of the card */
  .flip-card-front {
    color: black;
  }

  .flip-card-front > article {
    height: 255px;
  }
  
  /* Style for the back part of the card */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  
  .flip-card-back > img {
    max-height: 255px;
  }

  /* Handle the flip action on hover */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
